/* geral */
main{   
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
}

/* .interface{
    width: 1360px;
    height: auto;    
    background-color: aqua;
} */
/* fim geral */

/* header */
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 0;
    border-bottom: 1px solid #f7f7f7cd;
}

.area-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.areacliente, .botaoHeader{
    display: none;
}

.nav-list{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    /* menu totalmente invisivel */
    left: 100%; 
    padding: .1rem 0;
    background: var(--verde-principal);
    transition: 2.5s;

    a{
        color: var(--white);
        font-size: 1.5rem;        
    }

    .icon{
        display: none;
    }

    ul{
        display: flex;        
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }
}

.nav-list.ativo{    
    /* Menu totalmente visivel */
    left: 0;   
}

.menu-icon{
    z-index: 999;
}


/* fim header */

/* hero */
.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-color: #238662;
}

.image-hero{
    width: 100%;
    height: 80vh;
    background-image    : url("../images/image_hero.jpg");
    background-repeat   : no-repeat;
    background-size     : cover;
    /* background-position : center; */
}

.textos{    
    width: 100%;
    padding: 3.5rem;
    background-color: var(--verde-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    color:#000;
    gap: 2rem;  
}

.btn-textos{
    width: 300px;
    padding: .8rem 2.5rem;
    border-radius: .5rem;    
    border: 0;
    background-color: var(--white);
    color: var(--verde-principal);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;    
}

.title-hero{
    color: white;
    text-align: center;
}
/* fim hero */

/* <!-- content__cards --> */
.content__cards{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    padding: 3rem;
    background: #efefef;
    /* opacity: .9; */
    /* background: red; */
}

.content__cards .title{
    padding-bottom: 2rem;
    text-align: center;
}

.card{
    padding: 2rem;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 10px;
}

.card img{
    width: 300px;
    height:500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;     
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.are__btn__card{
    display: flex;
    flex-direction: column;
}

.btn-card-form{
    width: 100%;      
    padding: .8rem 2.5rem;
    border-radius: .5rem;    
    border: 0;
    background-color: var(--white);
    color: var(--verde-principal);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;       
    margin-top: 1rem;
}

.saiba-mais{
    color: #FFF;
    text-decoration: underline;    
    margin-top: .7rem;
    font-weight: 700;
}



/* fim <!-- content__cards --> */