@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --verde-principal   : #238662;
    --verde-claro       : #56d7a7;
    --verde-link        : #073c29;
    --verde-bglink      : #E9F3EF;
    --bg-footer         : #121212;
    --bg-buttons        : #1D1D1B;
    --bg-footer-copy    : #252525;
    --white             : #FFFFFF;
    --black             : #000000;
    --gray              : #686868;
    --link-gray         : #333333;
    --gray-claro        : #f1f1f1;
    --bg-tipos-limite   : #E9F3EF;
    --redes-sociais     : #238662;
    --hover-button      : #358f6716;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;    
}

body{
    font-family: "Inter", serif;
}

/* header */
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    background-color: red;
}

.area-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.areacliente, .botaoHeader{
    display: none;
}

.nav-list{
    display: none;   
}

.nav-list.ativo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: .1rem 0;
    background: var(--verde-principal);
    transition: 1.8ms;

    a{
        color: var(--white);
        font-size: 1.5rem;        
    }

    .icon{
        display: none;
    }

    ul{
        display: flex;        
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }
}

.menu-icon{
    z-index: 999;
}

/* .nav-list.ativo{
    width: 100vw;
    height: 100vh;
    display: flex;        
    justify-content: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    padding: .1rem 0;
    background: var(--verde-principal);
    left: 100%;
    transition: 0.8s;

    ul{
        flex-direction: column;
    }

    .link-header{
        color: var(--white);
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }

    path {
       display: none;
    }

    .linkBlog{
        color: var(--white);
        font-size: 1.5rem;
    }
} */

/* fim header */