/* Header */
header{     
    width: 100%;
    height: 12vh;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-claro);
}

.logo{
    width: 10rem;
}

.ul{
    display: block;
}

.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 2rem;     
    padding: 1rem ;
}

.nav-list ul li{
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    height: 70px;
 }

.nav-list ul li a{
   font-size: .9rem;  
   font-weight: 600;
   color: var(--black); 
   
   padding: auto 1rem;
   display: block;
}

.nav-list ul li a:hover{
    color: var(--gray);  
}

.nav-list ul li:hover{
    border-bottom: 2px solid var(--verde-claro);
    color: var(--gray);  
    cursor: pointer;   

    .icon{
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
    }    
    .icon:hover {
        transform: rotate(180deg);
    }
    .color-icon{
        stroke: var(--gray);
    }
}

.area-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    .linkAreaCliente{
        color: var(--verde-link);
        text-decoration: underline;
        font-weight: 600;
    }

    .areacliente{
        padding: 15px 30px;
        border-radius: 8px;
    }  

    .botaoHeader{
        color: var(--verde-link);
        font-size: 16px;
        font-weight: 600;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid var(--verde-link);
        border-radius: 8px;
        cursor: pointer;
    }

    .botaoHeader:hover, .areacliente:hover{
        background-color: var(--verde-bglink);
    }
}

.bi-list{
    font-size: 2rem;
}

.bi-x-lg{
    font-size: 1.7rem;
    display: none;
}
/* Header */
.menu-burger{
  background-color: rgb(15, 15, 15);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
}

/* Menu Mobile */