/* GERAIS */
.center{
    width: 100%;
    height: 600px;
    padding: 0 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}

.btn-form {
    width: 75%;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;
    background-color: var(--verde-principal);
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;           
}

.btn-form:hover{
    background-color:#32A17A;
}

.content__cards_area_button{
    width: 100%;
    display: flex;
    align-items: start;
}

.card_title{
    color :  var(--black);
    font-size: 2.5rem;  
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 40px;
}

.card-subtitle{
   color :  #383838;   
   font-weight: 500;   
   line-height: 30px;
   margin-top: 10px;
}

.tipo-limite-subtitle{
   color :  #383838;   
   font-weight: 500;   
   line-height: 30px;
   margin-top: 10px;
   margin-left: 1rem;
}

.style-link{
    color: var(--gray);
    text-decoration: underline;
}

.title{
    align-items: left;
    font-size: 2.5rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.interface{
    width: 1360px;
    height: auto;    
}

.fluid{
   width: 100%;
}

/* Gerais */

/* Hero formulario de cadastro e imagem */
.hero{
    width: 100%;
    height: 80vh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #238662;
    margin-bottom: 4.5rem;
}

.image-hero{
    width: 50%;
    height: 80vh;
    background-image: url("../images/image_hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textos{    
    width: 50%;
    padding: 0 3rem;
    background-color: var(--verde-principal);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    color:#000;
    gap: 2rem;  
}

.area-form {
    width: 45%;
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;

    h2 {
        color: #000;
        margin-bottom: 1rem;
    }
}

input{
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: .5rem;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
        
    .placeholder-grayDark::placeholder {
        color: #ababab;
    }

    .placeholder-gray::placeholder {
        color: var(--gray);
    }
    
    ::-webkit-input-placeholder {
        color: #3f3f3f;
        font-size: 1rem;
        font-weight: 500;
    }

    input:-moz-placeholder {
        color: #3f3f3f;
        font-size: 1rem;
        font-weight: 500;
    }
}

.title-hero{
    color: white;
    font-size: 3rem;
}

.btn-form{
    width: 75%;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;  
    background: #238662;   
    color: #fff;  
    font-size: 1rem;
}
/* Hero formulario de cadastro e imagem */

/* Segunda dobra Para cada estilo de vida, um cartão personalizado */
.content__cards{
    width: 100%;
    height: 1050px;    
    padding: 2.8rem; 
    display: flex;
    flex-direction: column;    
}

.content__cards .area-cards{
    width: 100%;
    height: 52rem;
    display: flex;    
    align-items: flex-start;
    justify-content: space-between;
    padding: .8rem 0;
    flex-wrap: wrap;
    gap: .8rem;
}

.content__cards .area-cards .card1 {
    width: 30%; 
    height: 48rem;   
    border-radius: 10px;
    border: 1px solid #f6f6f6e7;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #ffffff 0%, rgb(116, 116, 116) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__cards .area-cards .card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card3.webp');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px; /* Arredonda a pseudo-elemento também */
}

.content__cards .area-cards .card2 {
    width: 30%; 
    height: 48rem;   
    border-radius: 10px;
    border: 1px solid #f6f6f6e7;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #ffffff 0%, rgb(116, 116, 116) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__cards .area-cards .card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card2.webp');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px; /* Arredonda a pseudo-elemento também */
}

.content__cards .area-cards .card3 {
    width: 30%; 
    height: 48rem;   
    border-radius: 10px;
    border: 1px solid #f6f6f6e7;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #ffffff 0%, rgb(116, 116, 116) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__cards .area-cards .card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card1.webp');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px; /* Arredonda a pseudo-elemento também */
}

 .are__btn__card{
    width: 100%;
    height: 5.5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #161616;
 }

 .btn-card-form-sem-bg:hover{
    background-color: #17bc8520;
}

.btn-card-form-sem-bg{
    background-color: transparent;
    border: 2px solid var(--verde-principal);
    width: 22%;
    padding: .8rem 2.5rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    color: var(--verde-principal);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;     
}

.btn-card-form{
    width: 85%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: .8rem 2.5rem;
    border-radius: .5rem;    
    border: 0;
    background-color: var(--white);
    color: var(--verde-principal);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;       
    margin-bottom: 1rem;   
}

.saiba-mais{
    color: #FFF;
    text-decoration: underline;
    margin-left: 2rem;
    margin-top: .7rem;
    font-weight: 700;
}

.bi-arrow-right-short{
    color: #FFF;
}
/* Segunda dobra */

/* Terceira dobra PicPay Card: um cartão de crédito que todo mundo pode ter */
.content__cards_info{
   width: 100%;
   min-height: 750px;
   padding: 2.8rem; 
   margin-bottom: 3rem;
}

.content__cards__textos{
    padding: 0;
    margin: 0;
}

.content__cards__textos .subtitle, .area__cards__info .card__info p {
   color :  #383838;   
   font-weight: 500;
   margin: 3.5rem 5px;
}

.area__cards__info{
    width: 100%;  
    height: 300px; 
    padding: 1rem 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.card__info{
    width: 16.33%;
    height: 250px;
    padding: 1.5rem;
    border: 1px solid #a3a3a3;
    border-radius: .5rem;    
    position: relative;
}

.card__info .area-img{
   width: 100%;
   padding: 5px;
}

.icone{
    position: absolute;
    left: 0;
    width: 5rem;  
    margin-left: 7px;  
}

.card__info__texto{
    position: absolute;
    margin-top: 70px;
    font-weight: 400;
    background-color:#fff;
}
/*  Terceira dobra PicPay Card */

/* Quarta dobra tipos de limite */
.content__tipos_limite{
    width: 100%;
    min-height: 380px;
    padding: 0 2.8rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-tipos-limite);
}

.content__tipos_limite .left{
    width: 50%;
    padding: 4rem 2rem 4rem 0;
    /* background-color: blueviolet; */
}

.content__tipos_limite .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    padding: 4rem 2rem;
}

.area-button{
    width: 55%;    
}

.btn-area-button{
    width: 100%;
}

.title-tipo-limite{  
    font-size: 1.1rem;
    margin-left: .6rem;
}

.descricao-tipo-limite{
    margin-left: 1rem;
    font-size: 1.1rem;
}

.cards-tipo-limite{
    padding-block: 1rem;
}

.title-com-span{
    display: flex;
}

.borda-span{
  font-size: 1rem;
  color: var(--verde-principal);
  font-weight: 900;
}
/* Quarta dobra tipos de limite */

/* Quinta dobra beneficios */
.content__beneficios{
    width: 100%;
    height: 600px;    
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}

.content__titles{
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.area__beneficios__title{
    width: 100%;
    display: flex;
    align-items: start;
}

.area__beneficios__title .title{
    font-size: 2.5rem;
}

.content__images{
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.img-left img, .img-right img{
    border-radius: 10px;
}

.title-beneficios{
   margin-left: -1.8rem; 
   margin-bottom: -1.3rem;
}

/* Quinta dobra beneficios */

/* Sexta dobra vantagens */
.content__vantagens{
    width: 100%;
    height: auto; 
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.content__vantagens .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.content__vantagens .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__vantagens .right .card-vantagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7.4rem;
}

.card-subtitle a{
    color: var(--black);
    text-decoration: underline;
    font-weight: bold;
}

/* Sexta dobra vantagens */

/* Setima dobra Dúvidas Frequentes */
.content__duvidas{
    width: 100%;
    padding: 0 2.8rem;  
}

.main__duvidas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -2.5rem;
}

.duvidas__acordeon{
    width: 108%;   
    padding: 3rem 0;
    margin-left: -2.5rem;
}

.acordeon__item{
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
    justify-content: space-between;
}

.acordeon__item h2{
    font-size: 1.3rem;
}

.acordeon__descricao{
    color :  #383838;   
    font-weight: 500;   
    line-height: 30px;
    margin-top: 10px;
    margin-left: 1rem;
    font-size: 1rem;
 }

 .acordeon__descricao.hidden{
    display: none;  
 }

 .acordeon__seta{
    transition: transform 0.5s ease-in-out;
    margin-top: 10px;
 }

 .acordeon__seta.girar{
    transform: rotate(180deg);
 }

 .linha{
    margin-top: .5rem;
 }

 .acordeon__title{
    margin-top: 1rem;
 }

 .frase-negrito{
    font-size: 1.1rem;
    font-style: bold;
    font-weight: 500;
 }

/* Setima dobra Dúvidas Frequentes */

/* Animações */
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
}

/* Animação primeira dobra */
.area-cards :nth-child(2){
    transition-delay: 400ms;
}

.area-cards :nth-child(3){
    transition-delay: 1000ms;
}
/* Animação primeira dobra */

/* Animação segunda dobra */
.card__info :nth-child(2){
    transition-delay: 400ms;
}
.card__info :nth-child(3){
    transition-delay: 1000ms;
}
.card__info :nth-child(4){
    transition-delay: 1900ms;
}
.card__info :nth-child(5){
    transition-delay: 2300ms;
}
.card__info :nth-child(6){
    transition-delay: 2600ms;
}
/* Animação segunda dobra */

/* Animação quinta dobra */
.image :nth-child(2){
    transition-delay: 200ms;
}
/* Animação quinta dobra */

/* Animações */
