/* GERAIS */
.center{
    width: 100%;
    height: 600px;
    padding: 0 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}

.btn-form {
    width: 75%;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;
    background-color: var(--verde-principal);
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;           
}

.btn-card-form-sem-bg{
    background-color: transparent;
    border: 2px solid var(--verde-principal);
    width: 22%;
    padding: .8rem 2.5rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    color: var(--verde-principal);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;     
}

.btn-card-form{
    width: 22%;
    padding: .8rem 2.5rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    border: 0;
    background-color: var(--verde-principal);
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;         
}

.btn-form:hover, .btn-card-form:hover{
    background-color:#32A17A;
}

.content__cards_area_button{
    width: 100%;
    display: flex;
    align-items: start;
}

.card_title{
    color :  var(--black);
    font-size: 2.5rem;  
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 40px;
}

.card-subtitle{
   color :  #383838;   
   font-weight: 500;   
   line-height: 30px;
   margin-top: 10px;
}

.tipo-limite-subtitle{
   color :  #383838;   
   font-weight: 500;   
   line-height: 30px;
   margin-top: 10px;
   margin-left: 1rem;
}

.style-link{
    color: var(--gray);
    text-decoration: underline;
}

.flex{
    display: flex;
    background-color: rgb(196, 209, 16);
}

.interface{
    width: 100%;
    background-color: red;
}

/* Gerais */

/* Primeira dobra Cartões de crédito com benefícios exclusivos. Com PicPay, a experiência é outra */

.content_topo{
    /* background-color: var(--white);    */
    padding: 40px 4%; 
}

.content_topo .flex{
    align-items: center;
    justify-content: center;
}

.img__hero{
    width: 930px;
    height: 50%x;
}



/* .content_topo .hero {
    background-color: #3232a1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_topo .hero__textos {
    width: 50%;
    padding: 8.8rem 3rem;
    background-color: var(--verde-principal);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    color: var(--white);
    gap: 2rem;

    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 2rem 0 1rem 0;
    }

    .area-form {
        width: 68%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: var(--white);
        border-radius: 1rem;

        h2 {
            color: var(--black);
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-radius: .5rem;
            outline: none;
            border: 1px solid var(--gray);
            margin-bottom: 1rem;
        }

        .placeholder-grayDark::placeholder {
            color: #ababab;
        }

        .placeholder-gray::placeholder {
            color: var(--gray);
        }
        
        ::-webkit-input-placeholder {
            color: #3f3f3f;
            font-size: 1rem;
            font-weight: 500;
        }

        input:-moz-placeholder {
            color: #3f3f3f;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}


/* Primeira dobra */

/* Segunda dobra Para cada estilo de vida, um tipo de cartão personalizado */
.content__cards{
    width: 100%;
    height: auto;    
    padding: 2.8rem; 
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.content__cards h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;   
}

.content__cards .title{
    align-items: left;
    margin-left: .38rem;
}

.content__cards__textos h2{
    font-size: 2.5rem;
}

.content__cards .cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .8rem;
    padding: .2rem;
}

.content__cards .cards .card1{
    width: 32%; 
    height: 600px;
    padding-bottom: -5rem;
    border-radius: .7rem;
    background: rgb(239,239,239);
    background:linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card1.webp');
    background: cover;
    /* Cobre toda a div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-size: 115%;    
}

.content__cards .cards .card2{
    width: 32%; 
    height: 600px;
    padding-bottom: -5rem;
    border-radius: .7rem;
    background: rgb(239,239,239);
    background:linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card2.webp');
    background: cover;
    /* Cobre toda a div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-size: 115%;    
}

.content__cards .cards .card3{
    width: 32%; 
    height: 600px;
    padding-bottom: -5rem;
    border-radius: .7rem;
    background: rgb(239,239,239);
    background:linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../images/cards-segunda-dobra/card3.webp');
    background: cover;
    /* Cobre toda a div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-size: 115%;    
}
/* Segunda dobra */

/* Terceira dobra PicPay Card: um cartão de crédito que todo mundo pode ter */
.content__cards_info{
   width: 100%;
   height: 650px;
   padding: 2.8rem; 
   margin-bottom: 3rem;
}

.content__cards__textos{
    padding: 0;
    margin: 0;
}

.content__cards__textos .subtitle, .area__cards__info .card__info p {
   color :  #383838;   
   font-weight: 500;
   margin: 3.5rem 5px;
}

.area__cards__info{
    width: 100%;  
    height: 300px; 
    padding: 1rem 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.card__info{
    width: 16.33%;
    height: 250px;
    padding: 1.5rem;
    border: 1px solid #a3a3a3;
    border-radius: .5rem;    
    position: relative;
}

.card__info .area-img{
   width: 100%;
   padding: 5px;
}

.icone{
    position: absolute;
    left: 0;
    width: 5rem;  
    margin-left: 7px;  
}

.card__info__texto{
    position: absolute;
    margin-top: 70px;
    font-weight: 400;
    background-color:#fff;
}

.btn-card-form-sem-bg:hover{
    background-color: #17bc8520;
}
/*  Terceira dobra PicPay Card */

/* Quarta dobra tipos de limite */
.content__tipos_limite{
    width: 100%;
    height: 1020px;
    padding: 2.8rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-tipos-limite);
}

.content__tipos_limite .left{
    width: 50%;
    padding: 4rem 2rem 4rem 0;
    /* background-color: blueviolet; */
}

.content__tipos_limite .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    padding: 4rem 2rem;
}

.area-button{
    width: 55%;    
}

.btn-area-button{
    width: 100%;
}

.title-tipo-limite{  
    font-size: 1.1rem;
    margin-left: .6rem;
}

.descricao-tipo-limite{
    margin-left: 1rem;
    font-size: 1.1rem;
}

.cards-tipo-limite{
    padding-block: 1rem;
}

.title-com-span{
    display: flex;
}

.borda-span{
  font-size: 1rem;
  color: var(--verde-principal);
  font-weight: 900;
}
/* Quarta dobra tipos de limite */

/* Quinta dobra beneficios */
.content__beneficios{
    width: 100%;
    height: 600px;    
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}

.content__titles{
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.area__beneficios__title{
    width: 100%;
    display: flex;
    align-items: start;
}

.area__beneficios__title .title{
    font-size: 2.5rem;
}

.content__images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;   
    gap: 1rem; 
}

.img-left{
    width: 50%;    
}

.img-left img{
    width: 615px;
    border-radius: 5px;
}

.img-right{
    width: 50%;
}

.img-right img{
    width: 615px;
    border-radius: 5px;
}
/* Quinta dobra beneficios */

/* Sexta dobra vantagens */
.content__vantagens{
    width: 100%;
    height: auto; 
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.content__vantagens .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}

.content__vantagens .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__vantagens .right .card-vantagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-subtitle a{
    color: var(--black);
    text-decoration: underline;
    font-weight: bold;
}

/* Sexta dobra vantagens */

/* Setima dobra Dúvidas Frequentes */
.content__duvidas{
    width: 100%;
    padding: 0 2.8rem;
    margin-bottom: 4rem;
}

.main__duvidas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;

    h2{
        font-size: 2.5rem;
    }
}

.duvidas__acordeon{
    width: 100%;   
    padding: 3rem 0;
}

.acordeon__item{
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
    justify-content: space-between;
}

.acordeon__item h2{
    font-size: 1.3rem;
}

.acordeon__descricao{
    color :  #383838;   
    font-weight: 500;   
    line-height: 30px;
    margin-top: 10px;
    margin-left: 1rem;
    font-size: 1rem;
 }

 .acordeon__descricao.hidden{
    display: none;  
 }

 .acordeon__seta{
    transition: transform 0.5s ease-in-out;
    margin-top: 10px;
 }

 .acordeon__seta.girar{
    transform: rotate(180deg);
 }

 .linha{
    margin-top: .5rem;
 }

 .acordeon__title{
    margin-top: 1rem;
 }

 .frase-negrito{
    font-size: 1.1rem;
    font-style: bold;
    font-weight: 500;
 }

/* Setima dobra Dúvidas Frequentes */

/* Footer */
footer{
    width: 100%;
    height: 1200px;
    padding: 6.4rem;
    background-color:var(--black);
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.footer-icons{
    display: flex;
    gap: 1rem;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer .footer-links h2{
    color: var(--white);
    font-size: 1.3rem;
}

footer .footer-links p{
    color: var(--white);
    margin-top: 1rem;
}

.footer__logo{
    width: 150px;
}

.footer-icons{
    margin-left: 20px;
    position: absolute;
    top: .5rem;
}

.footer-redes{
    width: 100%;
    height: 50px;
    margin-top: 9.7rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.footer-redes-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

i{
   color: var(--redes-sociais);
   font-size: 1.5rem; 
   margin-left: 1rem;
   cursor: pointer;   
}

.img-app{
    border-radius: 5px;
    cursor: pointer;
}

.img1{
    margin-right: 15px;
}

.footer-redes-playstores{
    position: absolute;
    right: 0;
    top: -15px;
}

.footer-copy{
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-footer);
}

.footer-copy p{
    font-size: 1rem;
    color: var(--white);
    align-items: center;
}

/* Footer */