@media(max-width:1440px){    
   .menu-icon{
      display: block;
   }
   .area-right{
      display: none;
   }
   .nav-list{
        justify-content: center;
        gap: 2rem;
        padding: .1rem 0;
        position: fixed;
        background: var(--verde-principal);
        width: 100vw;
        top: 0;
        height: 100vh;
        left: 100%;
        transition: 0.8s;
        display: flex;        

        ul{
            flex-direction: column;
        }

        .link-header{
            color: var(--white);
            font-size: 1.5rem;
            margin-left: 1.5rem;
        }

        path {
           display: none;
        }

        .linkBlog{
            color: var(--white);
            font-size: 1.5rem;
        }
   }     
}


@media (max-width:1040px) {
   /* hero */
   .hero{
      flex-direction: column-reverse;      
   }

   .image-hero{     
      background-position: 0 1px;      
   }

   .textos, .image-hero{
      width: 100%;
   }
   .title-hero{
      text-align: center;
      font-size: 1.5rem;
      padding: 10px 12px;
      color: var(--white);
   }
   .btn-textos{
      text-align: center;
   }
   .textos{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
   }
   /* end / hero */
  
}